$primaryColorDark: #002749;
$primaryColorLight: #033b6d;
$orangeColor:#ff4e31;
$orangeColorDark:#f23010;
$grayColor: #b2bec8;
$grayColorLight: #f2f2f2;
$colorBlack:#000;
$colorWhite:#fff;
$colorGreen: #007236;
$blackColorCustom: #252525;
$titleBorderColor:#e5e5e5;
$darkTextColor:#454545;
// $tableHeaderTransparent: #ffedea;
$tableHeaderTransparent: $primaryColorDark;
$colorPresent: #1dbc60;
$colorAbsent: #ff0000;
$colorDelayTime: #002749;
$colorOnLeave: #4e31ff;

$scrollBarColor:#ff4e31aa;

$colorPending: #FF9900;
$colorPendingBorder: #FFE0B1;

$colorApproved: #007CE8;
$colorApprovedBorder: #8DCAFF;

$colorRejected: #FF0000;
$colorRejectedBorder:#FFA7A7;

// colorApprovedBorder