


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '_colorScheme.scss';
@import '_fontScheme.scss';
@import 'header.scss';
@import 'topMenu.scss';
@import 'slider-section.scss';
@import 'contentPage.scss';
@import 'pageBodyContainer_kabir.scss';
@import 'feesInfo.scss';
@import 'seatInfo.scss';
@import 'footer.scss';
@import 'sobhan.scss';
@import '_event_calendar.scss';

*{
    font-family: 'Montserrat', sans-serif;
}

// *::placeholder{
//     color: $grayColor !important;
//     font-size: $fontSizeSecondary;
//     font-weight: $fontWeightSecondary;
// }

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1300px;
    }
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 900px;
    }
}

.typewrite{
    color: $colorWhite;
    font-weight: $fontWeightSecondary;
    font-size: $fontSizeSecondarySmall;
}

.react-datepicker-wrapper{
    .react-datepicker__input-container{
        &:focus{
            outline: none;
        }
        .dayPicker-custom-input{
            &:focus{
                outline: 0;
                box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
            }
        }
    }
}

.header-menu{
    // position: absolute;
    // z-index: 1;
    // width: 100%;

    .topmenu-wrapper{
        // background: #033b6dd0;
    }

    .notice-wrapper{
        // background: #ff4e31a0;
    }
}

.carousel{
    &.slide{
        .carousel-indicators{

        }

        .carousel-inner{
            .carousel-item{
                height: auto;

                img{
                    object-fit: fill;
                    height: unset;
                }

                .carousel-caption{
                    padding-top: 5px;
                    padding-bottom: 5px;
                    bottom: 60px;
                }
            }
        }
    }
} 

.image-section{
    position: relative;
    height: 350px;

    .image-section-inside{
        position: absolute;
        background-color: white;
        padding: unset;
        border: 2px solid tan;
        border-radius: 15px;
        overflow: hidden;
        width: 300px;
        height: 250px;

        &:nth-child(1){
            left: 5px;
            top: 5px;
            z-index: 10;
        }

        &:nth-child(2){
            left: 10px;
            top: 10px;
            z-index: 9;
        }

        &:nth-child(3){
            left: 15px;
            top: 15px;
            z-index: 8;
        }

        &:nth-child(4){
            left: 20px;
            top: 20px;
            z-index: 7;
        }

        &:nth-child(5){
            left: 25px;
            top: 25px;
            z-index: 6;
        }
    }
}

