.p-t-10{
    padding-top : 10px;
}

.p-t-20 {
    padding-top: 20px;
  }

.all-notice-wrapper{
    padding: 30px;
    padding-bottom: 0;
    background-color: $grayColorLight;
}

.notice-wrapper{
    background-color: $colorWhite;
    padding: 15px;
    border: 1px solid $grayColor;
}